<section id="jobs">
  <h2>Vagas Recentes</h2>
  <% @jobs.reverse.each do |job| %>
  <% next if job.expired? #If the job is expired jump to the next iteration %>
    <div class="jobs">
      <%= render @jobs.reverse %>
    </div>
  <% end %>
</section>
