<section id="jobs">
  <h2>Last Jobs</h2>
  <% @jobs.reverse.each do |job| %>
    <% unless job.expired? %>
      <div class="jobs">
        <%= render job %>
      </div>
    <% end %>
  <% end %>
</section>
